<div class="workspot-presentation">

  <h1><strong>Les meilleurs spots pour travailler</strong>,<br><em>partout, près de vous...</em></h1>

  <p>
    Workspot sélectionne pour vous — des lieux sympas, accueillants et connectés — cafés,
    restos, hôtels — parfait pour travailler, étudier, échanger… ou simplement changer d’air.
  </p>

  <h3 id="spots-map">TOUS LES SPOTS DISPONIBLES :</h3>

<!-- MAP -->
<div class="map-container" aria-labelledby="spots-map" role="region">
  <div id="map"
       class="map"
       data-controller="map"
       data-map-style-value="mapbox://styles/workspots/cmflemqjc007y01secq3x89ng"
       data-map-center-value="[2.3522,48.8566]"
       data-map-zoom-value="12"
       tabindex="0" aria-label="Carte des spots">
       </div>
</div>

      <!-- PACTE DU WORKSPOTTER -->


  <section class="pact">
    <h2>LE PACTE DU BON WORKSPOTTER</h2>
    <p>
      Travailler dans un <strong>Café</strong>, un <strong>Bistrot</strong> bref un <strong>Spot</strong>, <em>c’est une chance</em>.<br>
      Les lieux référencés ici accueillent les workspotters, <span class="underline">tant que le respect est réciproque</span>.
    </p>

<!-- RULES Section -->
            <div class="rules">
          <div class="rule">
            <div class="rule-number">1.</div>
            <div class="rule-text">
              <p><strong>Pensez à vous annoncer</strong><br>en précisant vos intentions</p>
            </div>
          </div>

          <div class="rule">
            <div class="rule-number">2.</div>
            <div class="rule-text">
              <p><strong>Lors du déjeuner</strong><br>Pensez à prendre un repas<br>ou à libérer l’espace</p>
            </div>
          </div>
        </div>
<!--  -->

    <p class="reminder">
      Un problème avec un <strong>Spot</strong> ? <br><span class="underline">Non conforme</span> ou <span class="underline">non respectueux</span> ?
      <br> Écrivez-nous dans la section <strong>Contact</strong> <em>ci-dessous</em>.
    </p>
  </section>
</div>




<section class="contact-section" >
  <div class="contact-box" id="contact">
    <h2 class="contact-title">CONTACTEZ-NOUS...</h2>

    <div class="contact-content">
        <div class="contact-cards">

          <div class="contact-card">
            <h4>Tu veux recommander un spot ?</h4>
            <p>Dis-nous où tu aimes travailler et pourquoi ce lieu mérite sa place ici.</p>
          </div>

          <div class="contact-card">
            <h4>Tu es un commerçant ?</h4>
            <p>Propose ton café ou ton lieu pour accueillir les Workspotters.</p>
          </div>

          <div class="contact-card">
            <h4>Un souci avec un spot ?</h4>
            <p>Signale-nous tout comportement déplacé ou incohérent.</p>
          </div>

          <div class="contact-card">
            <h4>Une idée pour améliorer Workspots?</h4>
            <p>Partage-nous tes suggestions pour rendre le site encore plus utile.</p>
          </div>

        </div>


      <!-- Contact Form -->
        <form action="<%= messages_path %>" method="post" class="contact-form">
        <%= hidden_field_tag :authenticity_token, form_authenticity_token %>

        <input type="text" name="message[name]" placeholder="Prénom Nom..." />
        <input type="text" name="message[email]" placeholder="Ton adresse email..." />
        <input type="text" name="message[establishment]" placeholder="Nom de l’établissement..." />
        <input type="text" name="message[address]" placeholder="Adresse de l’établissement..." />

        <div class="select-wrapper">
          <select name="message[role]">
            <option disabled selected>Je ...</option>
            <option>Je recommande un spot</option>
            <option>Je suis propriétaire d'un spot</option>
            <option>J'ai une remarque à propos d'un spot</option>
            <option>J'ai une autre demande...</option>
          </select>
        </div>

        <textarea name="message[content]" placeholder="Commentaire..."></textarea>

        <button type="submit" class="btn-outline">Envoyez votre commentaire</button>
      </form>
    </div>
  </div>
</section>

<div class="banner about-banner">
  <div class="container">
   <div class="about-grid">
    <section class="about-copy" aria-labelledby="about-title-1">
      <h2 id="about-title-1" class="about-title">Qui sommes-nous ?</h2>
       <p>
        Trouver un bon endroit pour <strong>travailler hors de chez soi</strong>,
        c’est souvent galère.
        <strong>Trop bruyant</strong>, <strong>pas de prises</strong>,
        <strong>mauvaise connexion…</strong>
      </p>

      <p>
        On a passé des heures à chercher le bon spot pour faire une visio après un rendez-vous,
        avancer sur un dossier, ou simplement se réunir dans un endroit central.
      </p>

      <p>
        <strong>Alors on a créé WorkSpot.</strong><br>
        Une carte <strong>claire et intuitive</strong> qui référence
        les <strong>meilleurs lieux où il fait bon télétravailler</strong> :
        cafés, restaurants, hôtels…
        Tous sont accueillants, connectés, et ouverts à cette nouvelle façon de travailler.
      </p>

      <p>
        Pas besoin de se demander si on dérange :
        <strong>ici, vous êtes les bienvenus.</strong>
      </p>

      <p>
        Certains lieux proposent même des <strong>offres dédiées aux télétravailleurs</strong>,
        histoire de ne manquer de rien pendant la matinée ou l’après-midi.
      </p>
    </section>

   <div class="about-media" aria-hidden="true">
    <%= image_tag "about-us-img1.png", class: "media-img", alt: "" %>
  </div>
  </div>

  <!-- Bloc 2 -->
  <div class="about-grid">
    <section class="about-copy" aria-labelledby="about-title-2">
      <h2 id="about-title-2" class="about-title">Et demain ?</h2>
     <p>
      WorkSpot pourrait aussi devenir <strong>un réseau vivant</strong> :
      des lieux pour <strong>organiser des sessions de groupe</strong>,
      <strong>accueillir des profs particuliers ou des coachs</strong>,
      <strong>créer des événements à thème entre freelances…</strong>
    </p>

    <p>
      <strong>Vous aimez l’idée ?</strong>
      Partagez vos spots préférés ou soufflez-nous vos envies.
    </p>

    <p>
      <strong>On construit ça avec vous&nbsp;!</strong>
    </p>
    </section>

    <div class="about-media" aria-hidden="true">
    <%= image_tag "about-us-img2.png", class: "media-img", alt: "" %>
    </div>

  </div>



<!-- Bouton d'installation Android -->
<div id="android-instructions" class="android-instructions" style="display:none;">
  <!-- logo Android -->
  <div class="card-logo">
    <%= image_tag "android.svg", alt: "Android", class: "logo-top", aria: { hidden: true } %>
  </div>

  <h2>Ajoute Workspot sur ton smartphone :</h2>
  <ol>
    <li>
      <div class="step-row">
        <span>Clique sur le bouton ci-dessous</span>
      </div>
    </li>
    <li>
      <div class="step-row">
        <span>Valide l'installation dans la fenêtre</span>
      </div>
    </li>
  </ol>
  <a id="install-button" class="btn install-cta">Ajouter à l'écran d'accueil</a>
</div>

<!-- Conteneur du tuto iOS -->
<div id="ios-instructions" class="ios-instructions"  style="display:none;">
  <!-- logo Apple -->
  <div class="card-logo">
    <%= image_tag "apple.svg", alt: "Apple", class: "logo-top", aria: { hidden: true } %>
  </div>

  <h2>Ajoute Workspot sur ton smartphone :</h2>
  <ol>
    <li>
      <div class="step-row">
        <span>
          Clique sur <strong>Partager</strong>.
        </span>
        <%= inline_svg_tag "share.svg", alt: "", class: "icon-right icon-share-ios", aria: { hidden: true } %>
      </div>
    </li>
    <li>
      <div class="step-row">
        <span>
          Sélectionne<strong>«Sur l'écran d'accueil»</strong>.
        </span>
        <%= image_tag "add.svg", alt: "", class: "icon-right", aria: { hidden: true } %>
      </div>
    </li>
    <li>
      <div class="step-row">
        <span>Confirme avec <strong>Ajouter</strong>.</span>
      </div>
    </li>
  </ol>
</div>


    <script>
  document.addEventListener("DOMContentLoaded", function () {
    const isMobile = /iphone|ipad|ipod|android/i.test(navigator.userAgent);
    const isIOS = /iphone|ipad|ipod/i.test(navigator.userAgent);
    const isAndroid = /android/i.test(navigator.userAgent);
    const isSafari = /^((?!chrome|android).)*safari/i.test(navigator.userAgent);

    if (!isMobile) return;

    // ANDROID
    if (isAndroid) {
      let deferredPrompt;
      const installButton = document.getElementById("install-button");

      window.addEventListener("beforeinstallprompt", (e) => {
        e.preventDefault();
        deferredPrompt = e;
        installButton.style.display = "inline-block";

        installButton.addEventListener("click", () => {
          deferredPrompt.prompt();
          deferredPrompt.userChoice.then((choiceResult) => {
            deferredPrompt = null;
          });
        });
      });
    }

    // iOS SAFARI
    if (isIOS && isSafari) {
      const iosBanner = document.getElementById("ios-instructions");
      if (iosBanner) iosBanner.style.display = "block";
    }
  });
</script>

  </div>
</div>





    <!--  FOOTER -->


  <footer class="footer">
    <div class="footer-content">
      <div class="footer-left">
        <%= image_tag("logo-ws-white.png", alt: "Workspot Logo", class: "footer-logo") %>
      </div>

      <div class="footer-center">
      <!-- SOCIAL FOOTER À FAIRE-->
        <div class="footer-social">
          <%= link_to "https://www.facebook.com/workspotfr", target: "_blank", rel: "noopener" do %>
            <%= image_tag "facebook.svg", alt: "Facebook", class: "social-icon" %>
          <% end %>

          <%= link_to "https://www.instagram.com/workspotfr", target: "_blank", rel: "noopener" do %>
            <%= image_tag "instagram.svg", alt: "Instagram", class: "social-icon" %>
          <% end %>

          <%= link_to "https://www.linkedin.com/company/workspotfr", target: "_blank", rel: "noopener" do %>
            <%= image_tag "linkedin.svg", alt: "LinkedIn", class: "social-icon" %>
          <% end %>
        </div>
        <!-- SOCIAL FOOTER À FAIRE  -->

      </div>

      <div class="footer-right">
        <p><a href="mailto:contact@workspots.fr">contact@workspots.fr</a></p>
      </div>
    </div>
  </footer>
