<h2>Nouveau message reçu via Workspot</h2>

<p><strong>Nom :</strong> <%= @message.name %></p>
<p><strong>Établissement :</strong> <%= @message.establishment %></p>
<p><strong>Adresse :</strong> <%= @message.address %></p>
<p><strong>Email :</strong> <%= @message.email %></p>
<p><strong>Rôle :</strong> <%= @message.role %></p>
<p><strong>Message :</strong></p>
<p><%= @message.content %></p>
